/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Koulen&display=swap');
/* NORMALIZE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background-image: url(../css/imagenes/white-painted-wall-texture-background.jpg);
    background-attachment: fixed;
    overflow: scroll;
    font-family: 'Anton', sans-serif;
    font-family: 'Koulen', cursive;
    color: black;
    
    }
ul {
    list-style-type: none;
 
}
a {
    text-decoration: none;
    color: black;
    font-family: 'Anton', sans-serif;
    font-family: 'Koulen', cursive;
   
}
img {
    width: 100%;
}
/* HEADER */ 
header {
    display: inline-block;
    align-items: center;
    justify-content: space-evenly;
    padding:10rem ;
    border-bottom: 2px solid ;
    flex-basis: content;
}
header {
    display: flex;
    background-image: url(../Figma/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}
header nav .menu__item  {
    display: flex;

}
.menu__item :hover {
    transition: 2s;
    color: #F66B0E;
}
header nav .menu {
    display: flex ;
    gap: 2rem;
}
.menu {
    align-items: center;
}
.menu .menu__link {
    font-size: 20px;
}
@media  (max-width: 600px){
    .menu {
        flex-direction: column;
    }
}



/* INDEX */ 
.section__article {
    display: flex;
    justify-content: center;
    font-size: 20px;

}
.grid-facebook {
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding: 3px;
}
.grid-facebook {
    display: flex;
    width: 98%;
    max-width: 1300px;
    margin: auto;
}
header
    .LogoAnimacion__item {
            display: flex;
            text-align: center;
            line-height: 100vh;
          }
          
          .svg {
            display: inline-block;
            height: 100px;
            width: 100px;
            line-height: 100px;
            text-align: center;
            border-radius: 50%;
          }
          
          #svg {
            display: inline-block;
            vertical-align: middle;
            fill: #ececec;
          }
          #svg path:nth-child(1) {
            -webkit-animation: pweek 1.8s linear infinite;
                    animation: pweek 1.8s linear infinite;
            -webkit-animation-delay: 0.1s;
                    animation-delay: 0.1s;
          }
          #svg path:nth-child(1):hover {
            -webkit-animation-play-state: paused;
                    animation-play-state: paused;
          }
          #svg path:nth-child(2) {
            -webkit-animation: pweek 1.8s linear infinite;
                    animation: pweek 1.8s linear infinite;
            -webkit-animation-delay: 0.2s;
                    animation-delay: 0.2s;
          }
          #svg path:nth-child(2):hover {
            -webkit-animation-play-state: paused;
                    animation-play-state: paused;
          }
          #svg path:nth-child(3) {
            -webkit-animation: pweek 1.8s linear infinite;
                    animation: pweek 1.8s linear infinite;
            -webkit-animation-delay: 0.3s;
                    animation-delay: 0.3s;
          }
          #svg path:nth-child(3):hover {
            -webkit-animation-play-state: paused;
                    animation-play-state: paused;
          }
          #svg path:nth-child(4) {
            -webkit-animation: pweek 1.8s linear infinite;
                    animation: pweek 1.8s linear infinite;
            -webkit-animation-delay: 0.4s;
                    animation-delay: 0.4s;
          }
          #svg path:nth-child(4):hover {
            -webkit-animation-play-state: paused;
                    animation-play-state: paused;
          }
          #svg path:nth-child(5) {
            -webkit-animation: pweek 1.8s linear infinite;
                    animation: pweek 1.8s linear infinite;
            -webkit-animation-delay: 0.5s;
                    animation-delay: 0.5s;
          }
          #svg path:nth-child(5):hover {
            -webkit-animation-play-state: paused;
                    animation-play-state: paused;
          }
          #svg path:nth-child(6) {
            -webkit-animation: pweek 1.8s linear infinite;
                    animation: pweek 1.8s linear infinite;
            -webkit-animation-delay: 0.6s;
                    animation-delay: 0.6s;
          }
          #svg path:nth-child(6):hover {
            -webkit-animation-play-state: paused;
                    animation-play-state: paused;
          }
          #svg path:nth-child(7) {
            -webkit-animation: pweek 1.8s linear infinite;
                    animation: pweek 1.8s linear infinite;
            -webkit-animation-delay: 0.7s;
                    animation-delay: 0.7s;
          }
          #svg path:nth-child(7):hover {
            -webkit-animation-play-state: paused;
                    animation-play-state: paused;
          }
          #svg path:nth-child(8) {
            -webkit-animation: pweek 1.8s linear infinite;
                    animation: pweek 1.8s linear infinite;
            -webkit-animation-delay: 0.8s;
                    animation-delay: 0.8s;
          }
          #svg path:nth-child(8):hover {
            -webkit-animation-play-state: paused;
                    animation-play-state: paused;
          }
          #svg path:nth-child(9) {
            -webkit-animation: pweek 1.8s linear infinite;
                    animation: pweek 1.8s linear infinite;
            -webkit-animation-delay: 0.9s;
                    animation-delay: 0.9s;
          }
          #svg path:nth-child(9):hover {
            -webkit-animation-play-state: paused;
                    animation-play-state: paused;
          }
          #svg path:nth-child(10) {
            -webkit-animation: pweek 1.8s linear infinite;
                    animation: pweek 1.8s linear infinite;
            -webkit-animation-delay: 1s;
                    animation-delay: 1s;
          }
          #svg path:nth-child(10):hover {
            -webkit-animation-play-state: paused;
                    animation-play-state: paused;
          }
          #svg path:nth-child(11) {
            -webkit-animation: pweek 1.8s linear infinite;
                    animation: pweek 1.8s linear infinite;
            -webkit-animation-delay: 1.1s;
                    animation-delay: 1.1s;
          }
          #svg path:nth-child(11):hover {
            -webkit-animation-play-state: paused;
                    animation-play-state: paused;
          }
          #svg path:nth-child(12) {
            -webkit-animation: pweek 1.8s linear infinite;
                    animation: pweek 1.8s linear infinite;
            -webkit-animation-delay: 1.2s;
                    animation-delay: 1.2s;
          }
          #svg path:nth-child(12):hover {
            -webkit-animation-play-state: paused;
                    animation-play-state: paused;
          }
          #svg path:nth-child(13) {
            -webkit-animation: pweek 1.8s linear infinite;
                    animation: pweek 1.8s linear infinite;
            -webkit-animation-delay: 1.3s;
                    animation-delay: 1.3s;
          }
          #svg path:nth-child(13):hover {
            -webkit-animation-play-state: paused;
                    animation-play-state: paused;
          }
          #svg path:nth-child(14) {
            -webkit-animation: pweek 1.8s linear infinite;
                    animation: pweek 1.8s linear infinite;
            -webkit-animation-delay: 1.4s;
                    animation-delay: 1.4s;
          }
          #svg path:nth-child(14):hover {
            -webkit-animation-play-state: paused;
                    animation-play-state: paused;
          }
          #svg path:nth-child(15) {
            -webkit-animation: pweek 1.8s linear infinite;
                    animation: pweek 1.8s linear infinite;
            -webkit-animation-delay: 1.5s;
                    animation-delay: 1.5s;
          }
          #svg path:nth-child(15):hover {
            -webkit-animation-play-state: paused;
                    animation-play-state: paused;
          }
          #svg path:nth-child(16) {
            -webkit-animation: pweek 1.8s linear infinite;
                    animation: pweek 1.8s linear infinite;
            -webkit-animation-delay: 1.6s;
                    animation-delay: 1.6s;
          }
          #svg path:nth-child(16):hover {
            -webkit-animation-play-state: paused;
                    animation-play-state: paused;
          }
          #svg path:nth-child(17) {
            -webkit-animation: pweek 1.8s linear infinite;
                    animation: pweek 1.8s linear infinite;
            -webkit-animation-delay: 1.7s;
                    animation-delay: 1.7s;
          }
          #svg path:nth-child(17):hover {
            -webkit-animation-play-state: paused;
                    animation-play-state: paused;
          }
          #svg path:nth-child(18) {
            -webkit-animation: pweek 1.8s linear infinite;
                    animation: pweek 1.8s linear infinite;
            -webkit-animation-delay: 1.8s;
                    animation-delay: 1.8s;
          }
          #svg path:nth-child(18):hover {
            -webkit-animation-play-state: paused;
                    animation-play-state: paused;
          }
          
          @-webkit-keyframes pweek {
            0% {
              fill: #0057B8;
            }
            20% {
              fill: #F11E4A;
            }
            40% {
              fill: #F8A527;
            }
            60% {
              fill: #266D7F;
            }
            80% {
              fill: #82A;
            }
            100% {
              fill: #0057B8;
            }
          }
          
          @keyframes pweek {
            0% {
              fill: #0057B8;
            }
            20% {
              fill: #F11E4A;
            }
            40% {
              fill: #F8A527;
            }
            60% {
              fill: #266D7F;
            }
            80% {
              fill: #82A;
            }
            100% {
              fill: #0057B8;
            }
          }
.facebook_publication > div {
    display: flex;
    padding: 10px;
    margin: 3px;
    color: black;
    box-shadow: 2px 2px 10px rgba(0,0,0,.25);
}
.grid-facebook {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr; 
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px,350px));
}

    /* TIENDA */
.imagenes-tienda {
    width: 300px;
    height: 300px;
    border: 4px solid black;
    margin: 15px; 
}


.marcas__marcas {
    width: 300px;
    height: 300px;
    border: 4px solid black;
    margin: 15px;
    text-align: center;
    line-height: 150px;
}
.grid-layout {
    width: 80%;
    margin: 0 auto;
}

.span {
    font-size: 15px;
    padding: 10px;
    display: inline-block;
    justify-content: center;
    flex-basis: content;
}


/* NOSOTROS */

.conteiner__grid {
    display: flex;
    width: 98%;
    max-width: 1000px;
    margin: auto;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
}
.conteiner__grid > div {
    display: flex;
    padding: 20px;

}
.conteiner__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows:1fr 1fr 1fr; 
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px,300px));
    justify-content: center;
}
.conteiner__grid__img, .conteiner__grid__text {
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 11px 6px 22px 1px rgba(19,22,194,0.62); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 11px 6px 22px 1px rgba(19,22,194,0.62);
}
    /* TIENDA */
.imagenes-tienda {
    width: 300px;
    height: 300px;
    border: 4px solid black;
    margin: 15px;
    /*text-align: center;
    line-height: 150px;*/   
}


.marcas__marcas {
    width: 300px;
    height: 300px;
    border: 4px solid black;
    margin: 15px;
    text-align: center;
    line-height: 150px;
}
.grid-layout {
    width: 80%;
    margin: 0 auto;
}

/* CONTACTO */
.container__contact__list{
    display: flex;

}
.Redes {
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.contact__list{
    display: inline-block;
    font-size: 15px;
    padding: 3rem;
    flex-direction: column;   
}
@media  (max-width: 600px){
    .container__contact__list {
        flex-direction: column;
    }
}
.contact__maps {
    display: flex;
    justify-content: center;
}

.banner__footer {
    display: flex;
    background-image:url(../Figma/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: content;

}

.banner__footer{
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 2rem;
}
.table__footer {
    display: inline-block;
    font-size: 15px;
}
.span__footer {
    display: inline-block;
    font-size: 15px;
}

@media  (max-width: 600px){
    .banner__footer {
        flex-direction: column;
    }
}